.history {
  width: 90%;
  max-width: 800px;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;

  .history-title {
    font-size: 28px;
    color: #4caf50;
    margin-bottom: 10px;
  }
}
