<div class="main_navbar">
  <a href="/" class="main-home">Trang chủ</a>
  <nav>
    <ul class="main-menu">
      <li class="main-menu_item">
        <a href="/view-students" class="main-menu_title"> Quản lý sinh viên </a>
        <ul class="main-hide main-menu_item-list">
          <li>
            <a href="/view-students">Xem danh sách sinh viên</a>
          </li>
          <li>
            <a href="/admin/edit-students">Sửa thông tin sinh viên</a>
          </li>
          <li><a href="/admin/delete-students">Xóa sinh viên</a></li>
        </ul>
      </li>
      <li class="main-menu_item">
        <a href="/views-courses" class="main-menu_title">Quản lý khóa học</a>
        <ul class="main-hide main-menu_item-list">
          <li><a href="/admin/add-course">Thêm khóa học</a></li>
          <li><a href="/admin/edit-course">Sửa khóa học</a></li>
          <li><a href="/admin/delete-course">Xóa khóa học</a></li>
        </ul>
      </li>
      <li class="main-menu_item main-menu_item-single">
        <a href="/admin/view-feedback">Quản lý phản hồi</a>
      </li>
      <li class="main-menu_item main-menu_item-single">
        <a href="/admin/history">Lịch sử tư vấn</a>
      </li>
    </ul>
  </nav>
</div>
