<div class="main_navbar">
  <a href="/" class="main-home">Trang chủ</a>
  <nav>
    <ul class="main-menu">
      <li class="main-menu_item">
        <a href="/view-students" class="main-menu_title"> Quản lý sinh viên </a>
      </li>
      <li class="main-menu_item">
        <a href="/view-courses" class="main-menu_title">Quản lý khóa học</a>
      </li>
      <li class="main-menu_item main-menu_item-single">
        <a href="/admin/view-feedback">Quản lý phản hồi</a>
      </li>
      <li class="main-menu_item main-menu_item-single">
        <a href="/admin/history">Lịch sử tư vấn</a>
      </li>
    </ul>
  </nav>
</div>
