.main-title {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

.table-sinhvien {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 40px;
}

.table-sinhvien th,
.table-sinhvien td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.table-sinhvien th {
  background-color: #4caf50;
  color: white;
  padding-top: 12px;
}

.table-sinhvien tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-sinhvien tr:hover {
  background-color: #ddd;
}

.table-sinhvien td {
  font-size: 14px;
}

.btn-edit {
  padding: 5px 10px;
  background-color: #337ab7;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn-edit:hover {
  background-color: #286090;
}

.btn-delete {
  padding: 5px 10px;
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-delete:hover {
  background-color: #c9302c;
}

.btn-info {
  padding: 5px 10px;
  background-color: #dcea21;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-info:hover {
  background-color: #ddea21cc;
}
