.main-title {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

.table-sinhvien {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 40px;
}

.table-sinhvien th,
.table-sinhvien td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.table-sinhvien th {
  background-color: #4caf50;
  color: white;
  padding-top: 12px;
}

.table-sinhvien tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-sinhvien tr:hover {
  background-color: #ddd;
}

.table-sinhvien td {
  font-size: 14px;
}
