<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/home.css" />
    <link rel="stylesheet" href="/footer.css" />
  </head>
  <body>
    <%- include('partials/header') %>

    <main class="main">
      <%- include('partials/menu') %>
      <div class="main-right">
        <h2>Tổng quan</h2>
        <p>
          Chào mừng trở lại, quản trị viên! Tại đây bạn có thể quản lý người
          dùng, xem báo cáo và hơn thế nữa.
        </p>
      </div>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
